<div class="center jumbotron">
  <%= image_tag("website_logo.png", alt: "website logo", id: "homepage-website-logo") %>
  <% if !@tempDemand.nil? %>
    <div class="demand-box">
      <%= render 'shared/demand_box' %>
      <h3>Check for another book!</h3>
      <%= form_for(@demand) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_field :title, placeholder: "  What book do you need?" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <h1>Welcome to St.FX Book Exchange</h1>
  <h2>
    The host for the exchange of textbooks
    for the students of St.FX University
  </h2>
  <div class="home-button">
    <%= if !logged_in? then link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" end %>
  </div>

  <% if @tempDemand.nil? %>
    <div class="demand-box">
      <h3>See if we have the Book you need</h3>
      <%= form_for(@demand) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_field :title, placeholder: "  What book do you need?" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <p>Add your own used books</p>
  <div class="home-button">
    <%= link_to "Get rid of my Textbooks", if logged_in? then current_user else signup_path end, class: "btn btn-lg btn-primary" %>
  </div>
</div>
