<%= javascript_include_tag "conversation_scroll", "data-turbolinks-track" => true %>
<% if !mobile? %>
  <div class="hidden-xs">
    <%= render "layouts/conversation_sidebar" %>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-6 col-md-4 col-lg-5 col-xl-6">
    <% if !mobile? %>
      <h1 style="font-size: 2.4vw;">
    <% else %>
      <h1 style="font-size: 5vw;">
    <% end %>
        <%= Book.find_by(id: @conversation.book_id).title %>
      </h1>
    <% if current_user.id == @conversation.recipient_id then %>
      <% if !mobile? %>
        <h3 style="font-size: 1.5vw;"><%= User.find_by(id: @conversation.sender_id).name %></h3>
      <% else %>
        <h3 style="font-size: 4vw;"><%= User.find_by(id: @conversation.sender_id).name %></h3>
      <% end %>
    <% else %>
      <% if !mobile? %>
        <h3 style="font-size: 1.5vw;"><%= User.find_by(id: @conversation.recipient_id).name %></h3>
      <% else %>
        <h3 style="font-size: 4vw;"><%= User.find_by(id: @conversation.recipient_id).name %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-4 col-xl-6">
    <div class="row conversation-info">
      <div class="col-xs-8 col-md-10 col-lg-10 col-xl-6" style="float:right;">
        <span style="float:right;">
          <% if current_user.id == Book.find(@conversation.book_id).user_id %>
            <%= form_for(@conversation) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="negotiated-price-field">
                <%= f.text_field :negotiated_price, placeholder: " Negotiated Price " %>
              </div>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <% if !@conversation.negotiated_price.nil? %>
              <div><h2>Asking price: </h2><%= @conversation.negotiated_price %></div>
            <% end %>
          <% end %>
        </span>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-8 col-md-10 col-lg-10 col-xl-6">
        <span style="float:right;">
          <%= link_to "Trade", trade_books_path(@book, :book_id => @conversation.book_id, :user_id => @recipient),
                               class: "btn btn-primary", id: "trade-button",
                               data: { confirm: "You sure? Ensure the other person has received your book before trading!" } if current_user.id == Book.find(@conversation.book_id).user_id %>
        </span>
      </div>
    </div>
  </div>
</div>

<% if Book.find_by(id: @conversation.book_id).user_id == @conversation.sender_id then %>
  <% @recipient = @conversation.recipient_id %>
<% else %>
  <% @recipient = @conversation.sender_id %>
<% end %>

<div class="conversation-body" id="conversation-scroll">
 <ul>
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <% if message.user_id == current_user.id %>
    <li>
    <div class="sender-content">
   <% else %>
    <li>
    <div class="receiver-content">
   <% end %>
     <div class="message-header">
      <strong><%= user.name %></strong>  <%= message.message_time %>
     </div>
     <div class="message-body">
       <%= message.body %>
     </div>
    </div>
    </li>
  </br>
  <% end %>
 <% end %>
 </ul>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit " Send Message ", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
