<%= javascript_include_tag "conversation_scroll", "data-turbolinks-track" => true %>
<%= render "layouts/conversation_sidebar" %>
<div class="row">
  <div class="col-xs-6 col-md-8 col-lg-8 col-xl-10">
    <h1><%= Book.find_by(id: @conversation.book_id).title %></h1>
    <% if current_user.id == @conversation.recipient_id then %>
      <h3><%= User.find_by(id: @conversation.sender_id).name %></h3>
    <% else %>
      <h3><%= User.find_by(id: @conversation.recipient_id).name %></h3>
    <% end %>
  </div>
  <span>
    <%= link_to "Trade", trade_books_path(@book, :book_id => @conversation.book_id, :user_id => @recipient),
                         class: "btn btn-primary",
                         data: { confirm: "You sure? Ensure the other person has received your book before trading!" } if current_user.id == Book.find(@conversation.book_id).user_id %>
  </span>
</div>
<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all', class: "btn btn-primary" %>
<% end %>

<% if Book.find_by(id: @conversation.book_id).user_id == @conversation.sender_id then %>
  <% @recipient = @conversation.recipient_id %>
<% else %>
  <% @recipient = @conversation.sender_id %>
<% end %>

<div class="conversation-body" id="conversation-scroll">
 <ul>
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <% if message.user_id == current_user.id %>
    <li>
    <div class="sender-content">
   <% else %>
    <li>
    <div class="receiver-content">
   <% end %>
     <div class="message-header">
      <strong><%= user.name %></strong>  <%= message.message_time %>
     </div>
     <div class="message-body">
       <%= message.body %>
     </div>
    </div>
    </li>
  </br>
  <% end %>
 <% end %>
 </ul>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
