<% if current_user.id == @conversation.recipient_id then %>
  <h3><%= User.find_by(id: @conversation.sender_id).name %></h3>
<% else %>
  <h3><%= User.find_by(id: @conversation.recipient_id).name %></h3>
<% end %>
<span><h3><%= Book.find_by(id: @conversation.book_id).title %></h3></span>

<% if Book.find_by(id: @conversation.book_id).user_id == @conversation.sender_id then %>
  <% @recipient = @conversation.recipient_id %>
<% else %>
  <% @recipient = @conversation.sender_id %>
<% end %>

<%= link_to "Trade", trade_books_path(@book, :book_id => @conversation.book_id, :user_id => @recipient),
                     class: "btn btn-lg btn-primary",
                     data: { confirm: "You sure? Ensure the other person has received your book before trading!" }
                     if current_user.id == Book.find(@conversation.book_id).user_id %>

<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="item">
    <div class="content">
     <div class="header"><strong><%= user.name %></strong>     <%= message.message_time %></div>
      <div class="list">
       <div class="item">
        <i class="right triangle icon"></i>
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
