<div class="hidden-xs"><%= render "layouts/conversation_sidebar" %></div>
<div class="ui segment", id="conversation-body">
 <h1>Exchanges</h1>
 <div class="center jumbotron">
   <% if @outwardInterests.exists? %>
    <h3>Outward Interests</h3>
   <% end %>
   <div class="ui list">
    <div class="item">
     <% @outwardInterests.each do |outwardInterest| %>
     <!-- Only show if user is apart of the conversation -->
     <% if outwardInterest.sender_id == current_user.id || outwardInterest.recipient_id == current_user.id %>
      <!-- Show the name of the other user -->
      <% if outwardInterest.sender_id == current_user.id %>
        <% recipient = User.find(outwardInterest.recipient_id) %>
      <% else %>
        <% recipient = User.find(outwardInterest.sender_id) %>
      <% end %>
      <div class="item">
        <% if outwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>
        <% if !Book.find_by(id: outwardInterest.book_id).blank? %>
          <% book = Book.find_by(id: outwardInterest.book_id).title %>
          <%= link_to recipient.name + ' - ' + book, conversation_messages_path(outwardInterest)%>
        <% else %>
          <p>Error finding book</p>
        <% end %>
        <!-- Delete -->
        <% if current_user.id == outwardInterest.sender_id %> |
          <%= link_to "Delete", outwardInterest, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        <% if outwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
          (<%= outwardInterest.notifications.where(user_id: current_user.id, read: false).count %>)
        <% end %>
      </div>
     <% end %>
    <% end %>
    </div>
   </div>

   <% if @inwardInterests.exists? %>
    <h3>Inward Interests</h3>
   <% end %>
   <div class="ui list">
    <div class="item">
     <% @inwardInterests.each do |inwardInterest| %>
     <% if inwardInterest.sender_id == current_user.id || inwardInterest.recipient_id == current_user.id %>
      <% if inwardInterest.sender_id == current_user.id %>
        <% recipient = User.find(inwardInterest.recipient_id) %>
      <% else %>
        <% recipient = User.find(inwardInterest.sender_id) %>
      <% end %>
      <div class="item">
        <% if inwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>
        <% if !Book.find_by(id: inwardInterest.book_id).blank? %>
          <% book = Book.find_by(id: inwardInterest.book_id).title %>
          <%= link_to recipient.name + ' - ' + book, conversation_messages_path(inwardInterest)%>
          <% if inwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
            (<%= inwardInterest.notifications.where(user_id: current_user.id, read: false).count %>)
          <% end %>
        <% else %>
          <p>Error finding book</p>
        <% end %>
      </div>
     <% end %>
    <% end %>
    </div>
   </div>
 </div>
</div>
