<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3 col-sm-3">
    <section class="user_info hidden-xs" style="position: fixed;">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <% if logged_in? && current_user == @user %>
      <section class="book_form hidden-xs" style="position: fixed;">
        <%= render 'shared/book_form' %>
        <%= render 'shared/demand_form' %>
      </section>
      <section class="visible-xs">
        <h1>
          <%= @user.name %>
        </h1>
        <% if current_user == @user && logged_in? %>
          <%= render 'shared/book_form' %>
          <%= render 'shared/demand_form' %>
        <% end %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-9 col-sm-9">
    <!--<%= link_to "Prompt", prompt_path %> -->
    <% provide(:demand_feed_title, "Your Demands ") %>
    <%= render "demands/feed" %>
    <!-- Books Render -->
    <% if @user.books.any? %>
      <h3>Books (<%= @user.books.count %>)</h3>
      <ol class="books">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% end %>
  </div>
</div>
