<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="book_form">
      <% if logged_in? %>
        <%= render 'shared/book_form' %>
        <%= render 'shared/demand_form' %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <!-- Demand Loop -->
    <% if @demands.any? %>
      <h1>Demands (<%= @demands.count %>)</h1>
      <% @demands.each do |t| %>
        <h3><%= t.title %></h3>
        <%= link_to "delete", t, method: :delete, data: { confirm: "You sure?" } %>
        <!-- Match Loop -->
        <% t.matches.each do |match| %>
          <% book = Book.find(match.book_id).order('weight DESC') %>
          <h2><%= book.title %></h2>Weight: <%= match.weight %> - Streak: <%= match.streak %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Books Render -->
    <% if @user.books.any? %>
      <h3>Books (<%= @user.books.count %>)</h3>
      <ol class="books">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% end %>
  </div>
</div>
