<div class="center jumbotron">
  <h1>Matches for "<%= @demands.title.titleize %>"</h1>
  <!-- Match Loop -->
  <div class="match-scrollable">
    <% if @demands.matches.blank? %>
      <h3>Sorry, we couldn't find any matches, try again with different keywords</h3>
    <% end %>
    <% @demands.matches.order("weight DESC").each do |match| %>
    <!-- Horizontal Scroll Window -->
    <div class="match-contents">
      <% book = Book.find(match.book_id) %>
      <% if logged_in? %>
        <h3><%= link_to truncate(book.title.titleize, :length => 25, :seperator => ' '),
        conversations_path(sender_id: current_user.id,
                           recipient_id: book.user_id,
                           book_id: book.id),
                           method: 'post' %></h3>
      <% else %>
        <h3><%= book.title.titleize %></h3>
      <% end %>
       - <%= User.find(book.user_id).name %></br>
      <% if Rails.env.development? %>
        Weight: <%= match.weight %> - Streak: <%= match.streak %> ID: <%= book.id %>
      <% end %>
    </div>
    <% end %>
  </div>
  </br>
  <% if !current_user.nil? && @demands.user_id = current_user.id && !current_page?(root_url) %>
  <%= link_to "delete", @demands, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</div>
