<% if !yield(:demand_feed_title).empty? %>
  <h1><%= yield(:demand_feed_title) %> (<%= @demands.count %>)</h1>
<% end %>
<!-- Demand Loop -->
<% if @demands.any? %>
  <% @demands.each do |t| %>
    <div class="center jumbotron">
      <h1><%= t.title.titleize %></h1>
      <!-- Match Loop -->
      <div class="match-scrollable">
        <% t.matches.order("weight DESC").each do |match| %>
        <!-- Want this to be in its own scrollable window -->
        <div class="match-contents">
          <% book = Book.find(match.book_id) %>
          <h3><%= truncate(book.title.titleize, :length => 25, :seperator => ' ') %></h3>Weight: <%= match.weight %> - Streak: <%= match.streak %> ID: <%= book.id %>
        </div>
        <% end %>
      </div>
      <%= link_to "delete", t, method: :delete, data: { confirm: "You sure?" } %>
    </div>
  <% end %>
<% end %>
