<li id="book-<%= book.id %>">
  <span class="user"><%= link_to book.user.name, book.user %></span>
  <span class="title">
    <% if logged_in? %>
      <%= link_to book.title, conversations_path(sender_id: current_user.id,
                                                 recipient_id: book.user_id,
                                                 book_id: book.id),
                                                 method: 'post' %>
    <% else %>
      <%= book.title %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(book.created_at) %> ago.
    <% if current_user?(book.user) %>
      <%= link_to "delete", book, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
