<li id="book-<%= book.id %>">
  <span class="user">
    <% if !book.user.nil? %>
      <%= link_to book.user.name, book.user %>
    <% else %>
      <%= link_to "This book is an Orphan", root_url %>
    <% end %>
  </span>
  <span class="title">
    <h1 class="book-title">
    <% if logged_in? && !current_user?(book.user) %>
      <%= link_to book.title, conversations_path(sender_id: current_user.id,
                                                 recipient_id: book.user_id,
                                                 book_id: book.id),
                                                 method: 'post',
                                                 :title => book.title %>
    <% else %>
      <%= book.title %>
    <% end %>
    </h1>
  </span>
  <span class="timestamp">
    <% if !book.asking_price.blank? %>
      Asking Price: <%= book.asking_price %></br>
    <% end %>
    Posted <%= time_ago_in_words(book.created_at) %> ago.
    <% if current_user?(book.user) %>
      </br><%= link_to "delete", book, method: :delete, data: { confirm: "You sure?" } %>
      <%= form_for book do |f| %>
        <% if current_page?(user_path(@current_user)) %>
          <%= f.label :visible, "Book Visibility" %>
          <%= f.check_box :visible, { :onclick => "$(this.form).submit();" } %>
        </br>Asking Price: <%= f.text_field :asking_price %>
        <% end %>
      <% end %>
    <% end %>
  </span>
</li>
