<div class="sidenav">
  <% if @outwardInterests.exists? %>
   <h1>Book Interests</h1>
  <% end %>
  <div class="ui list">
   <div class="conversation-group">
    <% @outwardInterests.each do |outwardInterest| %>
    <div class="conversation">
    <!-- Only show if user is apart of the conversation -->
    <% if outwardInterest.sender_id == current_user.id || outwardInterest.recipient_id == current_user.id %>
     <!-- Show the name of the other user -->
     <% if outwardInterest.sender_id == current_user.id %>
       <% recipient = User.find(outwardInterest.recipient_id) %>
     <% else %>
       <% recipient = User.find(outwardInterest.sender_id) %>
     <% end %>
     <%= link_to(conversation_messages_path(outwardInterest)) do %>
      <!-- Keep highlighted if conversation is selected -->
      <% if outwardInterest.id == params[:conversation_id].to_i %>
        <div class="conversation-content" style="background-color: #d7d5ed;">
      <% else %>
        <div class="conversation-content">
      <% end %>
        <% if !Book.find_by(id: outwardInterest.book_id).blank? %>
          <h2><%= Book.find_by(id: outwardInterest.book_id).title %></h2>
          <h3><%= recipient.name %></h3>
        <% else %>
          <h2>Book not Found</h2>
        <% end %>
         <% if outwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
           (<%= outwardInterest.notifications.where(user_id: current_user.id, read: false).count %>)
         <% end %>
         <% if outwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
           <span class="glyphicon glyphicon-envelope"></span>
         <% end %>
       </div>
     <% end %>
   </div>
    <% end %>
   <% end %>
   </div>
  </div>

  <% if @inwardInterests.exists? %>
   <h1>My Books</h1>
  <% end %>
  <div class="ui list">
   <div class="conversation-group">
    <% @inwardInterests.each do |inwardInterest| %>
    <div class="conversation">
      <% if inwardInterest.sender_id == current_user.id || inwardInterest.recipient_id == current_user.id %>
       <% if inwardInterest.sender_id == current_user.id %>
         <% recipient = User.find(inwardInterest.recipient_id) %>
       <% else %>
         <% recipient = User.find(inwardInterest.sender_id) %>
       <% end %>
         <%= link_to(conversation_messages_path(inwardInterest)) do %>
         <!-- Keep highlighted if conversation is selected -->
         <% if inwardInterest.id == params[:conversation_id].to_i %>
          <div class="conversation-content" style="background-color: #d7d5ed;">
         <% else %>
          <div class="conversation-content">
         <% end %>
            <div class="row">
              <div class="col-md-9 col-sm-9 col-xs-8">
                <% if !Book.find_by(id: inwardInterest.book_id).blank? %>
                 <h2><%= Book.find_by(id: inwardInterest.book_id).title %></h2>
                 <h3><%= recipient.name %></h3>
                <% else %>
                  <h2>Book not found<h2/>
                <% end %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="row sidebar-notification">
                 <% if inwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
                   (<%= inwardInterest.notifications.where(user_id: current_user.id, read: false).count %>)
                 <% end %>
                 <% if inwardInterest.notifications.where(user_id: current_user.id, read: false).exists? %>
                   <span class="glyphicon glyphicon-envelope"></span>
                 <% end %>
               </div>
             </div>
           </div>
          </div>
        <% end %>
     </div>
    <% end %>
   <% end %>
   </div>
  </div>
</div>
