<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #2b569b;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9974806702734797",
    enable_page_level_ads: true
  });
  </script>
  <div class="container-fluid">
    <%= link_to image_tag("header_logo.png", alt: "header logo", id: "header-logo"),
                :root %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-dark">
        <li><%= link_to "Home",    root_path,  id: "nav-link" %></li>
        <li><%= link_to "Books",   books_path, id: "nav-link" %></li>
        <!-- Remove Demand Link until Conversations can be created via Demands
        <li><%= link_to "Demands", demands_path, id: "nav-link" %></li>-->
        <% if logged_in? %>
          <li>
            <%= link_to current_user.notifications.where(read: false).exists? ? "Messages (" + current_user.notifications.where(read: false).count.to_s + ")" : "Messages", conversations_path, id: "nav-link" %>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-dark">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-link">
              <span class="glyphicon glyphicon-user"></span> Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to "Profile",   current_user                  %></li>
              <li><%= link_to "Settings",  edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out",   logout_path, method: "delete" %></li>
            </ul>
          </li>
          <% if current_user.admin? %>
          <ul class="nav navbar-nav navbar-right navbar-dark">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-link"> Admin <b class="caret"></b> &nbsp; </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "Users", users_url %></li>
                </ul>
            </li>
          </ul>
          <% end %>
          <% else %>
        </ul>
            <ul class="nav navbar-nav navbar-right navbar-right">
              <li><%= link_to "Signup",  signup_path,  id: "nav-link" %></li>
              <li><%= link_to "Login",   login_path,   id: "nav-link" %></li>
            </ul>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
