<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- Moves container right for conversations sidebar under proper situations -->
    <% if params[:conversation_id].present? %>
      <% if current_page?(conversation_messages_path(params[:conversation_id])) && !mobile? %>
          <div class="container" style="position:absolute; left:200px; position:center;">
      <% else %>
        <div class="container">
      <% end %>
    <% elsif current_page?(conversations_path) && !mobile? %>
      <div class="container" style="position:absolute; left:200px; position:center;">
    <% else %>
      <div class="container">
    <% end %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
